/*======================================
 BAD BOYS TEC
 Desenvolvido por ChatGPT
======================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:#0f0f0f;

    color:#fff;

}

/*=========================
CONTAINER
=========================*/

.container{

    width:90%;

    max-width:1400px;

    margin:auto;

}

/*=========================
HEADER
=========================*/

header{

    width:100%;

    position:fixed;

    top:0;

    left:0;

    background:#111;

    border-bottom:2px solid #c30000;

    z-index:999;

    box-shadow:0 5px 20px rgba(0,0,0,.5);

}

header .container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:85px;

}

/*=========================
LOGO
=========================*/

.logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo img{

    width:70px;

    height:70px;

    object-fit:contain;

}

.logo h1{

    font-size:28px;

    color:#fff;

    font-weight:800;

    letter-spacing:2px;

}

.logo h2{

    color:#ff0000;

    font-size:18px;

    letter-spacing:5px;

}

/*=========================
MENU
=========================*/

#menu-toggle{

    display:none;

}

.menu{

    transition:.4s;

}

.menu ul{

    display:flex;

    list-style:none;

    gap:30px;

}

.menu a{

    color:white;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}

.menu a:hover{

    color:#ff2d2d;

}

.menu-btn{

    display:none;

    font-size:35px;

    cursor:pointer;

}

/*=========================
BANNER
=========================*/

.banner{

    min-height:100vh;

    display:flex;

    align-items:center;

    background:

    linear-gradient(rgba(0,0,0,.75),

    rgba(0,0,0,.75)),

    url("imagens/banner.jpg");

    background-size:cover;

    background-position:center;

}

.banner .container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:50px;

    align-items:center;

}

.banner-texto span{

    color:#ff2d2d;

    font-size:18px;

    font-weight:700;

    letter-spacing:5px;

}

.banner-texto h1{

    font-size:60px;

    margin:20px 0;

    line-height:70px;

}

.banner-texto p{

    color:#ddd;

    font-size:20px;

    line-height:35px;

}

.banner-imagem img{

    width:100%;

    animation:flutuar 4s infinite;

}

/*=========================
BOTÃO
=========================*/

.btn{

    display:inline-block;

    margin-top:35px;

    padding:18px 40px;

    background:#c30000;

    color:white;

    text-decoration:none;

    border-radius:50px;

    font-weight:700;

    transition:.4s;

}

.btn:hover{

    background:white;

    color:#c30000;

    transform:translateY(-5px);

}

/*=========================
ANIMAÇÃO
=========================*/

@keyframes flutuar{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0px);

}

}
/*======================================
    QUEM SOMOS
======================================*/

.empresa{

    padding:120px 0;
    background:#161616;

}

.empresa h2{

    text-align:center;
    font-size:42px;
    color:#ff2020;
    margin-bottom:15px;

}

.empresa p{

    text-align:center;
    color:#bfbfbf;
    margin-bottom:60px;

}

.empresa-grid{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;

}

.empresa-card{

    background:#202020;
    border:1px solid #2d2d2d;
    border-top:5px solid #ff2020;
    border-radius:15px;
    padding:35px;
    transition:.4s;

}

.empresa-card:hover{

    transform:translateY(-10px);
    box-shadow:0 15px 40px rgba(255,0,0,.25);

}

.empresa-card h3{

    color:#ff4040;
    margin-bottom:20px;
    font-size:24px;

}

.empresa-card p{

    text-align:left;
    line-height:30px;
    color:#d8d8d8;

}

/*======================================
        NÍVEIS DE SUPORTE
======================================*/

.suporte{

    padding:120px 0;
    background:#101010;

}

.titulo{

    text-align:center;
    font-size:42px;
    color:#ff2020;

}

.subtitulo{

    text-align:center;
    margin:20px auto 60px;
    max-width:700px;
    color:#bbbbbb;

}

.cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(330px,1fr));

    gap:35px;

}

.card{

    background:#1b1b1b;

    border-radius:18px;

    padding:35px;

    transition:.4s;

    border:2px solid #2b2b2b;

}

.card:hover{

    transform:translateY(-12px);

    border-color:#ff2020;

    box-shadow:0 20px 40px rgba(255,0,0,.35);

}

.icone{

    font-size:55px;

    margin-bottom:20px;

}

.card h3{

    font-size:30px;

    color:#fff;

}

.card h4{

    color:#ff4040;

    margin-bottom:25px;

}

.card ul{

    list-style:none;

}

.card ul li{

    padding:10px 0;

    border-bottom:1px solid #2b2b2b;

    color:#dadada;

}

.tempo{

    margin:25px 0;

    padding:15px;

    background:#111;

    border-left:5px solid #ff2020;

    border-radius:8px;

    font-weight:bold;

}

.btn-verde,
.btn-amarelo,
.btn-vermelho{

    display:block;

    text-align:center;

    text-decoration:none;

    color:white;

    padding:15px;

    border-radius:10px;

    font-weight:bold;

    transition:.3s;

}

.btn-verde{

    background:#18a558;

}

.btn-amarelo{

    background:#d69a00;

}

.btn-vermelho{

    background:#d40000;

}

.btn-verde:hover,
.btn-amarelo:hover,
.btn-vermelho:hover{

    transform:scale(1.04);

    opacity:.92;

}
/*======================================
        FORMULÁRIO
======================================*/

.chamado{

    padding:120px 0;

    background:#181818;

}

.titulo-secao{

    text-align:center;

    margin-bottom:50px;

}

.titulo-secao h2{

    font-size:42px;

    color:#ff2020;

    margin-bottom:15px;

}

.titulo-secao p{

    color:#cfcfcf;

    font-size:18px;

}

.formulario{

    background:#202020;

    border-radius:20px;

    padding:50px;

    border:2px solid #303030;

    box-shadow:0 15px 40px rgba(0,0,0,.4);

}

.duas-colunas{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:25px;

    margin-bottom:25px;

}

.campo{

    display:flex;

    flex-direction:column;

}

.campo label{

    margin-bottom:10px;

    font-weight:600;

    color:#ffffff;

}

.campo input,
.campo select,
.campo textarea{

    padding:16px;

    background:#111;

    border:2px solid #333;

    color:white;

    border-radius:10px;

    outline:none;

    transition:.3s;

    font-size:16px;

}

.campo input:focus,
.campo select:focus,
.campo textarea:focus{

    border-color:#ff2020;

    box-shadow:0 0 15px rgba(255,0,0,.4);

}

textarea{

    resize:vertical;

    min-height:180px;

}

.btn-enviar{

    width:100%;

    margin-top:35px;

    padding:18px;

    border:none;

    background:#d40000;

    color:white;

    font-size:18px;

    font-weight:bold;

    border-radius:12px;

    cursor:pointer;

    transition:.4s;

}

.btn-enviar:hover{

    background:#ff2020;

    transform:translateY(-4px);

}

/*======================================
        DASHBOARD
======================================*/

.dashboard{

    padding:120px 0;

    background:#111;

}

.dashboard-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

    gap:30px;

}

.box{

    background:#202020;

    border-radius:18px;

    text-align:center;

    padding:40px;

    border:2px solid #2d2d2d;

    transition:.4s;

}

.box:hover{

    border-color:#ff2020;

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(255,0,0,.25);

}

.numero{

    font-size:55px;

    font-weight:800;

    color:#ff2020;

    margin-bottom:15px;

}

.texto{

    color:white;

    font-size:18px;

    letter-spacing:1px;

}

/*======================================
            TABELA
======================================*/

.gestao{

    padding:120px 0;

    background:#181818;

}

.gestao h2{

    text-align:center;

    font-size:42px;

    color:#ff2020;

    margin-bottom:50px;

}

table{

    width:100%;

    border-collapse:collapse;

    overflow:hidden;

    border-radius:15px;

}

th{

    background:#d40000;

    color:white;

    padding:18px;

    font-size:18px;

}

td{

    background:#202020;

    padding:18px;

    text-align:center;

    border-bottom:1px solid #333;

}

tr:hover td{

    background:#292929;

}

/* STATUS */

.aberto{

    color:#4CAF50;

    font-weight:bold;

}

.atendimento{

    color:#FFC107;

    font-weight:bold;

}

.critico{

    color:#ff2020;

    font-weight:bold;

}

.finalizado{

    color:#00BCD4;

    font-weight:bold;

}
/*======================================
        CLIENTES
======================================*/

#clientes{

    padding:120px 0;

    background:#101010;

}

#clientes h2{

    text-align:center;

    font-size:42px;

    color:#ff2020;

    margin-bottom:60px;

}

.clientes-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

}

.cliente{

    background:#1d1d1d;

    border:2px solid #2c2c2c;

    border-radius:18px;

    padding:35px;

    transition:.4s;

}

.cliente:hover{

    transform:translateY(-10px);

    border-color:#ff2020;

    box-shadow:0 20px 40px rgba(255,0,0,.25);

}

.cliente h3{

    color:#ff2020;

    margin-bottom:15px;

    font-size:25px;

}

.cliente p{

    color:#d5d5d5;

    line-height:30px;

}

/*======================================
        FAQ
======================================*/

.faq{

    padding:120px 0;

    background:#181818;

}

.faq-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:30px;

}

.faq-card{

    background:#202020;

    border-left:5px solid #ff2020;

    border-radius:12px;

    padding:30px;

    transition:.4s;

}

.faq-card:hover{

    transform:translateX(10px);

    box-shadow:0 15px 30px rgba(255,0,0,.20);

}

.faq-card h3{

    color:#ff2020;

    margin-bottom:20px;

}

.faq-card p{

    color:#d9d9d9;

    line-height:30px;

}

/*======================================
        CONTATO
======================================*/

.contato{

    padding:120px 0;

    background:#111;

}

.contato-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:30px;

}

.contato-card{

    background:#1c1c1c;

    border-radius:18px;

    padding:35px;

    text-align:center;

    border:2px solid #2e2e2e;

    transition:.4s;

}

.contato-card:hover{

    transform:translateY(-10px);

    border-color:#ff2020;

}

.contato-card h3{

    color:#ff2020;

    margin-bottom:15px;

    font-size:24px;

}

.contato-card p{

    color:#dadada;

    line-height:30px;

}

/*======================================
        ESTATÍSTICAS
======================================*/

.estatisticas{

    padding:120px 0;

    background:linear-gradient(90deg,#8b0000,#d40000,#8b0000);

}

.estatisticas-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

}

.estatistica{

    text-align:center;

}

.estatistica h2{

    font-size:60px;

    color:white;

    margin-bottom:15px;

}

.estatistica p{

    font-size:22px;

    color:#fff;

}

/*======================================
        RODAPÉ
======================================*/

footer{

    background:#090909;

    padding:80px 0 30px;

    border-top:3px solid #d40000;

}

.footer-grid{

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1fr;

    gap:40px;

    margin-bottom:40px;

}

.footer-grid h2{

    color:#ff2020;

    margin-bottom:20px;

}

.footer-grid h3{

    color:#ffffff;

    margin-bottom:20px;

}

.footer-grid p{

    color:#cfcfcf;

    line-height:30px;

}

.footer-grid ul{

    list-style:none;

}

.footer-grid ul li{

    margin-bottom:12px;

}

.footer-grid ul li a{

    color:#cfcfcf;

    text-decoration:none;

    transition:.3s;

}

.footer-grid ul li a:hover{

    color:#ff2020;

}

hr{

    border:none;

    border-top:1px solid #333;

    margin:30px 0;

}

.copyright{

    text-align:center;

    color:#999;

}
/*======================================
        RESPONSIVIDADE
======================================*/

@media(max-width:1200px){

.banner .container{

grid-template-columns:1fr;

text-align:center;

}

.banner-imagem{

margin-top:50px;

}

.footer-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:900px){

.menu-btn{

display:block;

color:white;

}

.menu{

position:fixed;

top:85px;

right:-100%;

width:280px;

height:100vh;

background:#111;

transition:.4s;

padding-top:30px;

border-left:2px solid #d40000;

}

.menu ul{

flex-direction:column;

gap:0;

}

.menu li{

width:100%;

}

.menu a{

display:block;

padding:18px 25px;

border-bottom:1px solid #222;

}

#menu-toggle:checked ~ header .menu{

right:0;

}

.banner-texto h1{

font-size:48px;

line-height:55px;

}

.banner-texto p{

font-size:18px;

}

.duas-colunas{

grid-template-columns:1fr;

}

.cards{

grid-template-columns:1fr;

}

.dashboard-grid{

grid-template-columns:repeat(2,1fr);

}

.faq-grid{

grid-template-columns:1fr;

}

.footer-grid{

grid-template-columns:1fr;

text-align:center;

}

}

@media(max-width:600px){

.container{

width:95%;

}

.logo img{

width:55px;

height:55px;

}

.logo h1{

font-size:20px;

}

.logo h2{

font-size:14px;

}

.banner{

padding-top:120px;

}

.banner-texto h1{

font-size:36px;

line-height:42px;

}

.banner-texto p{

font-size:16px;

line-height:28px;

}

.btn{

padding:15px 25px;

font-size:15px;

}

.dashboard-grid{

grid-template-columns:1fr;

}

.numero{

font-size:45px;

}

.estatistica h2{

font-size:45px;

}

.estatistica p{

font-size:18px;

}

table{

display:block;

overflow-x:auto;

}

}

/*======================================
        SCROLLBAR
======================================*/

::-webkit-scrollbar{

width:12px;

}

::-webkit-scrollbar-track{

background:#111;

}

::-webkit-scrollbar-thumb{

background:#d40000;

border-radius:10px;

}

::-webkit-scrollbar-thumb:hover{

background:#ff2020;

}

/*======================================
        ANIMAÇÕES
======================================*/

.card,
.empresa-card,
.cliente,
.box,
.contato-card,
.faq-card{

animation:fadeUp 1s ease;

}

@keyframes fadeUp{

0%{

opacity:0;

transform:translateY(40px);

}

100%{

opacity:1;

transform:translateY(0);

}

}

/*======================================
        GLASS EFFECT
======================================*/

.card,
.box,
.contato-card,
.cliente,
.faq-card,
.empresa-card{

backdrop-filter:blur(10px);

}

/*======================================
        SOMBRA GERAL
======================================*/

.card:hover,
.box:hover,
.cliente:hover,
.contato-card:hover,
.empresa-card:hover{

box-shadow:0 0 35px rgba(255,0,0,.35);

}

/*======================================
        SELEÇÃO DE TEXTO
======================================*/

::selection{

background:#ff2020;

color:white;

}

/*======================================
        TRANSIÇÕES
======================================*/

a,
button,
.card,
.box,
.cliente,
.contato-card,
.faq-card{

transition:.35s ease;

}
